/* Mobile Responsive */
@media screen and (max-width:600px) {

    section {
        margin-bottom: 30px;
    }


    /* font-sizes */
    .popular-tour-title,
    .section-title,
    .box,
    .card-title {
        font-size: 22px;
        font-weight: 800;
    }

    .brand-name,
    .banner-title {
        font-size: 24px;
        font-weight: 800;
    }

    .section-description,
    .card-description,
    .common-btn {
        font-size: 16px;
    }

    /* Nav */
    .name-logo img {
        width: 35px;
    }

    .hamburger {
        display: block;
    }

    .nav-items {
        display: none;
    }

    /* banner */
    .form,
    .popular-tours,
    .card-container,
    .blog-container,
    .newsletter {
        flex-direction: column;
        gap: 5px;
    }

    .banner {
        background-size: cover;
        padding: 20px;

    }

    /* form */

    .form form,
    button {
        width: 90%;
        margin: 10px;
    }

    /* popular tour */
    .popular-tours {
        text-align: start;
    }

    .description {
        width: 100%;
    }

    .title {
        font-size: 5px;
    }

    .description p,
    ul {
        padding: 10px 0;
    }

    .popular-tours button {
        width: 100px;
        padding: 10px 0;
        margin-left: 0;
    }

    /* Destination */
    .gallery {
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
        gap: 16px;
    }

    .box {
        grid-row: span 1;
        grid-column: span 8;
    }

    .card-container div {
        width: 95%;
        margin: 10px auto;
    }

    /* newsletter */
    .newsletter-img {
        width: 100%;
        height: 50vh;
        margin: 20px auto 0;
    }

    .newsletter-form-content {
        margin: 0;
    }

    /* footer */
    .footer {
        padding: 20px;
    }

    .footer-name-logo h2 {
        padding: 20px 0;
    }
}

/* End of the styles for responsiveness of mobile devices */

/* Tablet Responsive */
@media screen and (min-width:600px) and (max-width:900px) {
    
}